.iconfont {
  margin-right: 10px;
}
.layui-icon-app {
  margin: 0 10px;
}
.welcome {
  color: #fff;
}
.welcome img {
  height: 32px;
  margin: 14px;
}
.welcome div {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 14px;
  background: #00988B;
  border-radius: 16px;
  text-align: center;
  line-height: 32px;
  vertical-align: middle;
}
.layui-body iframe {
  width: 100%;
  height: 100%;
  /* 防止出现滚动条 */
  border: 0;
  /*display: block;*/
}
.layui-footer {
  text-align: center;
}