html, body {
  background: url(../images/login_bg.jpg);
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.header {
  padding-top: 20px;
}
.center-box {
  width: 400px;
  height: 310px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  /*margin-left: -200px;*/
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.layui-form {
  padding: 0 30px;
}

.links {
  /*display: flex;
  justify-content: flex-end;*/
  text-align: right;
}

.layui-form-item {
  position: relative;
}

.layui-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.layui-input {
  padding-left: 30px;
}

#registerForm {
  display: none;
}